
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Scoring App Home</h2>
    <div class="panel col-sm-12">
        <p>Click the game you wish to calculate scores for:</p>
        @Html.ActionLink("World Class", "WorldClass", "Game")
    </div>
</div>
