
@{
    ViewBag.Title = "WorldClass";
}

<div class="container">
    <h2>World Class</h2>
    <div class="panel panel-info">
        <h4 class="panel-heading panel-title">Instructions</h4>
        <p class="panel-body">This page accurately simulates a scoring sheet. Simply answer the questions, and your score
        will be calculated at the bottom.</p>
    </div>
    <form action="" id="ScoreForm">
        <div class="col-md-6">
            <p>Left side</p>
        </div>
        <div class="col-md-6">
            <p>Right side</p>
        </div>
    </form>
 </div>
